### Add in location details to the headlines

In [1]:
import os
import pickle

import pandas as pd
import geonamescache

In [2]:
source_file = os.path.join("data", "headline_locations.parquet")
df = pd.read_parquet(source_file)

In [3]:
df.head()

                                  headline           city country
0                 Zika Outbreak Hits Miami          Miami    None
1          Could Zika Reach New York City?  New York City    None
2        First Case of Zika in Miami Beach          Miami    None
3  Mystery Virus Spreads in Recife, Brazil         Recife  Brazil
4  Dallas man comes down with case of Zika         Dallas    None

In [4]:
gc = geonamescache.GeonamesCache()

In [5]:
gc.get_cities_by_name("Miami")

[{'4164138': {'geonameid': 4164138,
   'name': 'Miami',
   'latitude': 25.77427,
   'longitude': -80.19366,
   'countrycode': 'US',
   'population': 441003,
   'timezone': 'America/New_York',
   'admin1code': 'FL'}}]

In [6]:
city_map = pickle.load(open("data/city_map.pkl", "rb"))
country_map = pickle.load(open("data/country_map.pkl", "rb"))

In [7]:
def get_city_lat_long(city_name):
    """ Return the lat, lon and country code
    If the city can't be found return Nones
    If more than one city is found then return the larges population.
    """
    try:
        city_details = gc.get_cities_by_name(city_name)
        if len(city_details) == 0:
            return (None, None, "Unknown")
        first_details = max([list(c.values())[0] for c in city_details], key = lambda k: k['population'])
        lon = first_details['longitude']
        lat = first_details['latitude']
        country_code = first_details['countrycode']
        return (lat, lon, country_code)
    except:
        return (None, None, None)

In [8]:
get_city_lat_long("Miami")

(25.77427, -80.19366, 'US')

In [11]:
# Add city location details to the dataframe
df['city_details'] = df.apply(lambda x: get_city_lat_long(x['city']), axis=1)
df['lat'] =  df.apply(lambda x: x['city_details'][0], axis=1)
df['lon'] =  df.apply(lambda x: x['city_details'][1], axis=1)
df['country_code'] =  df.apply(lambda x: x['city_details'][2], axis=1)
del df['city_details']

In [12]:
df.head(40)

,headline,city,country,lat,lon,country_code
0,Zika Outbreak Hits Miami,Miami,None,25.77427,-80.19366,US
1,Could Zika Reach New York City?,New York City,None,40.71427,-74.00597,US
2,First Case of Zika in Miami Beach,Miami,None,25.77427,-80.19366,US
3,"Mystery Virus Spreads in Recife, Brazil",Recife,Brazil,-8.05389,-34.88111,BR
4,Dallas man comes down with case of Zika,Dallas,None,32.78306,-96.80667,US
5,Trinidad confirms first Zika case,Trinidad,None,-14.83333,-64.90000,BO
6,Zika Concerns are Spreading in Houston,Houston,None,29.76328,-95.36327,US
7,Geneve Scientists Battle to Find Cure,Geneve,None,NaN,NaN,Unknown
8,The CDC in Atlanta is Growing Worried,Atlanta,None,33.74900,-84.38798,US
9,Zika Infested Monkeys in Sao Paulo,Sao Paulo,None,NaN,NaN,Unknown
10,Brownsville teen contracts Zika virus,Brownsville,None,25.90175,-97.49748,US
11,Mosquito control efforts in St. Louis take new...,St. Louis,None,38.62727,-90.19789,US
12,San Juan reports 1st U.S. Zika-related death a...,San Juan,None,-31.53750,-68.53639,AR
13,"Flu outbreak in Galveston, Texas",Galveston,None,29.30135,-94.79770,US
14,Zika alert - Manila now threatened,Manila,None,14.60420,120.98220,PH
15,Zika afflicts 7 in Iloilo City,Iloilo,None,10.69694,122.56444,PH
16,New Los Angeles Hairstyle goes Viral,Los Angeles,None,34.05223,-118.24368,US
17,Louisiana Zika cases up to 26,None,None,NaN,NaN,Unknown
18,Orlando volunteers aid Zika research,Orlando,None,28.53834,-81.37924,US
19,Zika infects pregnant woman in Cebu,None,None,NaN,NaN,Unknown
20,Chicago's First Zika Case Confirmed,Chicago,None,41.85003,-87.65005,US
21,Tampa Bay Area Zika Case Count Climbs,Tampa,None,27.94752,-82.45843,US
22,"Bad Water Leads to Sickness in Flint, Michigan",Flint,None,43.01253,-83.68746,US
23,Baltimore plans for Zika virus,Baltimore,None,39.29038,-76.61219,US
24,London Health Unit Tracks Mad Cow Disease,London,None,51.50853,-0.12574,GB
25,Zika cases in Vietnam's Ho Chi Minh City surge,Ho Chi Minh City,Vietnam,10.82302,106.62965,VN
26,Philadelphia experts track pandemic,Philadelphia,None,39.95233,-75.16379,US
27,Flu season hits Boston,Boston,None,42.35843,-71.05977,US
28,Scientists in Paris to look for answers,Paris,None,48.85341,2.34880,FR
29,Key Zika Findings in San Diego Institute,San Diego,None,32.71571,-117.16472,US
30,Thailand-Zika Virus in Bangkok,Bangkok,Thailand,13.75398,100.50144,TH
31,Beijing team cracks Zika secret,Beijing,None,39.90750,116.39723,CN
32,Zika spreading to Salvador,Salvador,None,-12.97111,-38.51083,BR
33,Kuala Lumpur is Hit By Zika Threat,Kuala Lumpur,None,3.14120,101.68653,MY
34,First Zika case confirmed in Yangon,Yangon,None,16.80528,96.15611,MM
35,Tallahassee Doctors Discuss Zika Virus,Tallahassee,None,30.43826,-84.28073,US
36,Zika Virus Reaches San Francisco,San Francisco,None,37.77493,-122.41942,US
37,New Vaccine on Trial in Bethesda District,Bethesda,None,38.98067,-77.10026,US
38,Townsville Zika tests inconclusive,Townsville,None,-19.26639,146.80569,AU
39,Mandaluyong City under Siege by Virus,Mandaluyong City,None,14.58320,121.04090,PH